<template>    
    <div v-if="actor">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ actor.firstName }} {{ actor.lastName }}</h1>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Cijena angažmana: </strong>{{ actor.price }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>Država rođenja: </strong>{{ actor.country }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Filmovi</h3>                    
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table v-if="actor.movies.length" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <td>Ime</td>                            
                            <td>Ocjena</td>
                            <td>Broj nominacija</td>
                            <td>Broj nagrada</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in actor.movies">
                            <td>{{ item.name }}</td>                            
                            <td>{{ item.rating }}</td>
                            <td>{{ item.nominationsCount }}</td>
                            <td>{{ item.nominationsWin }}</td>
                            <td>
                                <router-link :to="{ name: 'movieDetails', params: { id: item.id } }" class="btn btn-default">
                                    Detalji
                                </router-link>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>        


<script src="./details.ts"></script>